%tamano-iconos {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

%enlaces-iconos {
  text-decoration: none;
  font-size: 130%;
  display: inline;
}

%display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%display-flex-center-start {
  display: flex;
  justify-content: center;
  align-items: start;
}

%modulos-pedidos {
  width: 40vw;
  height: 30vh;
  color: $color-textos;
  text-align: center;
  /*
  &__imagen-envio {
    @include pedidos__iconos;
  }
  &__imagen-horario {
    @include pedidos__iconos {
      $pedidos__iconos: url(./media/iconos/pedidos/icono_horario.svg);
    }
  }
  &__imagen-devolucion {
    @include pedidos__iconos {
      $pedidos__iconos: url(./media/iconos/pedidos/icono_devolucion.svg);
    }
  }
  &__imagen-reembolso {
    @include pedidos__iconos {
      $pedidos__iconos: url(./media/iconos/pedidos/icono_reembolso.svg);
    }
  }*/

  h2 {
    font-size: 3.3vw;
    margin-bottom: 0;
  }
  p {
    font-size: 2.5vw;
    margin-top: 1vw;
  }
}

%ancho-completo {
  width: 100vw;
}

%padding-laterales {
  padding: 0 16vw 0;
}
