%tamano-iconos {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

%enlaces-iconos {
  text-decoration: none;
  font-size: 130%;
  display: inline;
}

%display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%display-flex-center-start {
  display: flex;
  justify-content: center;
  align-items: start;
}

%modulos-pedidos {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 30vh;
  color: $color-textos;
  text-align: center;

  h2 {
    font-size: 3.3vw;
    margin: 0;
  }
  p {
    font-size: 2.5vw;
    margin-top: 1vw;
  }
}

%ancho-completo {
  width: 100vw;
}

%padding-laterales {
  padding: 0 16vw 0;
}

%color-textos {
  color: $color-textos;
}

%titulos-boletin {
  font-size: 3vw;
}

%botones {
  background-color: $color-corporativo;
  height: 8vw;
  width: 100%;
  border: 0;

  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 3.2vw;
}
