%tamano-iconos {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

%enlaces-iconos {
  text-decoration: none;
  font-size: 20px;
  display: inline;
}

%display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%display-flex-center-start {
  display: flex;
  justify-content: center;
  align-items: start;
}
%display-flex-start-between {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

%display-flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%modulos-pedidos {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  color: $color-textos;
  text-align: center;

  h2 {
    font-size: 16px;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin-top: 1vw;
  }
}

%ancho-completo {
  width: 100vw;
}

%padding-laterales {
  padding: 0 16vw 0;
}

%color-textos {
  color: $color-textos;
}

%titulos-boletin {
  font-size: 16px;
}

%botones {
  background-color: $color-corporativo;
  height: 50px;
  width: 100%;
  border: 0;

  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
  &:hover {
    background-color: rgba(229, 89, 89, 0.5);
  }
}

%padding-top-secciones {
  padding-top: 10vw;
}
