@mixin contenedor-rrss(
  $contenedor-rrss: url(./media/iconos/rrss/icono_facebook.svg)
) {
  background-image: $contenedor-rrss;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4vw;
  width: 4vw;
}
