@mixin contenedor-rrss(
  $contenedor-rrss: url(./media/iconos/rrss/icono_facebook.svg)
) {
  background-image: $contenedor-rrss;
  background-repeat: no-repeat;
  background-size: 98%;
  height: 30px;
  width: 30px;
  margin: 2px;
}

@mixin pedidos__iconos(
  $pedidos__iconos: url(./media/iconos/pedidos/icono_envio.svg)
) {
  background-image: $pedidos__iconos;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 100px;
  height: 100px;
}

@mixin informacion__iconos(
  $informacion__iconos: url(./media/iconos/footer/icono_contacto.svg)
) {
  background-image: $informacion__iconos;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 70px;
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
}
