/* COLORES*/
/*COLORES SECUNDARIOS*/
.cabecera__contador, .cabecera__carrito, .cabecera__buscador, .cabecera__usuario {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.cabecera a {
  text-decoration: none;
  font-size: 130%;
  display: inline;
}

.pedidos__fila, .pedidos, .cabecera__contador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: start;
}

.pedidos__reembolso, .pedidos__devolucion, .pedidos__horario, .pedidos__envio {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 30vh;
  color: #67635f;
  text-align: center;
}
.pedidos__reembolso h2, .pedidos__devolucion h2, .pedidos__horario h2, .pedidos__envio h2 {
  font-size: 3.3vw;
  margin: 0;
}
.pedidos__reembolso p, .pedidos__devolucion p, .pedidos__horario p, .pedidos__envio p {
  font-size: 2.5vw;
  margin-top: 1vw;
}

.pedidos__fila, .pedidos {
  width: 100vw;
}

.pedidos__fila, .cabecera__nav {
  padding: 0 16vw 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/
.cabecera {
  background-color: #fff;
  padding-top: 80px;
  height: 50vh;
}
.cabecera__nav {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
}
.cabecera__burger {
  height: 20px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cabecera__burger div {
  background-color: #ff5959;
  height: 15%;
}
.cabecera__usuario {
  background-image: url(/media/iconos/nav/icono_usuario.svg);
  background-size: 50%;
}
.cabecera__iconos {
  display: flex;
}
.cabecera__buscador {
  background-image: url(/media/iconos/nav/icono_lupa.svg);
  background-color: #bbb8b6;
  background-size: 35%;
}
.cabecera__carrito {
  background-image: url(/media/iconos/nav/icono_carrito.svg);
  background-size: 60%;
}
.cabecera__contador {
  background-color: #ff5959;
}
.cabecera a {
  color: #fff;
}
.cabecera__logo {
  align-items: flex-start;
}

.fiestas {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contenedor-principal__imagen {
  position: absolute;
  top: -4.5%;
}

.fiestas__titulo {
  border: 3px solid black;
  border-right: 0;
  border-left: 0;
  padding: 20px 50px 20px 50px;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 6px;
}
.fiestas img {
  width: 350px;
  height: 170px;
}

.articulo {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 10px;
}
.articulo__titulo {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8784313725);
  height: 80px;
  width: 200px;
}
.articulo__titulo h3 {
  padding-left: 30px;
}

/*PEDIDOS*/
.pedidos {
  background-color: #e8e6e5;
  flex-direction: column;
  padding-top: 10vw;
  margin-top: 30vw;
}
.pedidos__fila {
  height: 30vh;
}
.pedidos__imagen-envio {
  background-image: url(./media/iconos/pedidos/icono_envio.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 20vw;
  height: 20vw;
}
.pedidos__imagen-horario {
  background-image: url(./media/iconos/pedidos/icono_horario.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 20vw;
  height: 20vw;
}
.pedidos__imagen-devolucion {
  background-image: url(./media/iconos/pedidos/icono_devolucion.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 20vw;
  height: 20vw;
}
.pedidos__imagen-reembolso {
  background-image: url(./media/iconos/pedidos/icono_reembolso.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 20vw;
  height: 20vw;
}

/*# sourceMappingURL=style.css.map */
