@import "configs";
/*@import "mixins";*/
@import "extends";

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/
.cabecera {
  background-color: $color-4;
  padding-top: 80px;
  height: 50vh;
  @extend %display-flex-center-start;

  &__nav {
    @extend %padding-laterales;
    background-color: $color-3;
    width: 100vw;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
  }

  &__burger {
    height: 20px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & div {
      background-color: $color-corporativo;
      height: 15%;
    }
  }
  &__usuario {
    @extend %tamano-iconos;
    background-image: url(/media/iconos/nav/icono_usuario.svg);
    background-size: 50%;
  }

  &__iconos {
    display: flex;
  }

  &__buscador {
    @extend %tamano-iconos;
    background-image: url(/media/iconos/nav/icono_lupa.svg);
    background-color: $color-1;
    background-size: 35%;
  }
  &__carrito {
    @extend %tamano-iconos;
    background-image: url(/media/iconos/nav/icono_carrito.svg);
    background-size: 60%;
  }
  &__contador {
    @extend %tamano-iconos;
    @extend %display-flex-center;
    background-color: $color-corporativo;
  }
  & a {
    @extend %enlaces-iconos;
    color: $color-4;
  }

  &__logo {
    align-items: flex-start;
  }
}

.fiestas {
  background-color: $color-3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__imagen {
    position: absolute;
    top: -4.5%;
  }
}

.fiestas {
  &__titulo {
    border: 3px solid black;
    border-right: 0;
    border-left: 0;
    padding: 20px 50px 20px 50px;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 6px;
  }
  img {
    width: 350px;
    height: 170px;
  }
}

.articulo {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 10px;

  &__titulo {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $color-4;
    background: opacify($color: #ffffffe0, $amount: 0);
    height: 80px;
    width: 200px;

    h3 {
      padding-left: 30px;
    }
  }
}

/*PEDIDOS*/
.pedidos {
  @extend %display-flex-center;
  @extend %ancho-completo;

  background-color: $color-2;
  flex-direction: column;

  &__fila {
    @extend %ancho-completo;
    @extend %padding-laterales;
    display: flex;
    justify-content: space-between;
  }
  &__envio {
    @extend %modulos-pedidos;
  }

  &__horario {
    @extend %modulos-pedidos;
  }

  &__devolucion {
    @extend %modulos-pedidos;
  }

  &__reembolso {
    @extend %modulos-pedidos;
  }
}
