@import "iconos";

/* COLORES*/
$color-corporativo: #ff5959;
$color-1: #bbb8b6;
$color-2: #e8e6e5;
$color-3: #f8f8f8;
$color-4: #fff;
$color-5: #000;
$color-textos: #67635f;

/*COLORES SECUNDARIOS*/
$color-secundario-1: #6199af;
$color-secundario-2: #f6b436;
$color-secundario-3: #9eaa4d;
$color-secundario-4: #8e789d;

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.cabecera {
  background-color: $color-4;
  padding-top: 80px;
  height: 50vh;
  @extend %display-flex-center-start;

  &__nav {
    background-color: $color-3;
    width: 100vw;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0;
    position: fixed;
    top: 0;
  }

  &__burger {
    height: 20px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & div {
      background-color: $color-corporativo;
      height: 15%;
    }
  }
  &__usuario {
    @extend %tamano-iconos;
    background-image: url(/media/iconos/nav/icono_usuario.svg);
    background-size: 50%;
  }

  &__iconos {
    display: flex;
  }

  &__buscador {
    @extend %tamano-iconos;
    background-image: url(/media/iconos/nav/icono_lupa.svg);
    background-color: $color-1;
    background-size: 35%;
  }
  &__carrito {
    @extend %tamano-iconos;
    background-image: url(/media/iconos/nav/icono_carrito.svg);
    background-size: 60%;
  }
  &__contador {
    @extend %tamano-iconos;
    @extend %display-flex-center;
    background-color: $color-corporativo;
  }
  & a {
    @extend %enlaces-iconos;
    color: $color-4;
  }

  &__logo {
    align-items: flex-start;
  }
}

/*FIESTAS*/
.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .contenedor-articulos {
    margin-top: 50px;
  }

  &__imagen {
    position: absolute;
    top: -5.27%;
  }
}

.fiestas {
  background-color: $color-3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

  &__titulo {
    border: 3px solid black;
    border-right: 0;
    border-left: 0;
    padding: 20px 50px 20px 50px;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 6px;
  }
  img {
    width: 350px;
    height: 170px;
  }
  .boton {
    margin-top: 50px;
    background-color: $color-corporativo;
    height: 45px;
    width: 100px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    border: none;
  }
}

.articulo {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 10px;

  &__titulo {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $color-4;
    background: opacify($color: #ffffffe0, $amount: 0);
    height: 80px;
    width: 200px;

    h3 {
      padding-left: 30px;
      color: $color-textos;
    }
  }
}
