/* COLORES*/
$color-corporativo: #ff5959;
$color-1: #bbb8b6;
$color-2: #e8e6e5;
$color-3: #f8f8f8;
$color-4: #fff;
$color-5: #000;
$color-textos: #67635f;

/*COLORES SECUNDARIOS*/
$color-secundario-1: #6199af;
$color-secundario-2: #f6b436;
$color-secundario-3: #9eaa4d;
$color-secundario-4: #8e789d;

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.fiestas {
  background-color: $color-3;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__imagen {
    position: absolute;
    top: -4.5%;
  }
}

.fiestas {
  &__titulo {
    border-style: solid;
    border-right: 0;
    border-left: 0;
    padding: 20px 50px 20px 50px;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 6px;
    line-height: 5px;
  }
}

.articulo {
  display: flex;
  align-items: flex-end;
  &__titulo {
    position: absolute;
    background-color: $color-4;
    background: opacify($color: #ffffffe0, $amount: 0);
    padding-left: 10px;
  }
}
